{% extends "base.html" %}

{% block title %}Department Details{% endblock %}

{% block content %}
<div class="container my-4">
    <h2>{{ department.name }} ({{ department.department_type }})</h2>
    <p><strong>Hospital:</strong> {{ department.hospital.name }}</p>
    <p><strong>department.parent:</strong> {{ department.parent }}</p>
    <p><strong>Description:</strong> {{ department.description }}</p>
    <p><strong>Active:</strong> {{ department.is_active }}</p>
   <a href="{% url 'manager:department_list' %}" class="btn btn-secondary">Back to List</a>
 
</div>
{% endblock %}