arabic-reshaper==3.0.0
asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
Django==5.2.5
django-crispy-forms==2.4
django-jazzmin==3.0.1
django-js-asset==3.1.2
django-mptt==0.17.0
django-rosetta==0.10.2
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
idna==3.10
joblib==1.5.2
nltk==3.9.1
numpy
oauthlib==3.3.1
openpyxl==3.1.5
pandas==2.3.1
pillow==11.3.0
ply==3.11
polib==1.2.0
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
pyzk @ git+https://github.com/fananimi/pyzk.git@50637985b56c3312bf80346c022ebfa567e02808
qrcode==8.2
regex==2025.9.1
reportlab==4.4.3
requests==2.32.5
requests-oauthlib==2.0.0
rosetta==0.3
schedule==1.2.0
scipy
setuptools==75.9.1
six
sqlparse==0.5.3
thriftpy2==0.5.3
tqdm==4.67.1
tzdata==2025.2
urllib3==2.5.0
zk==0.9.4


